<section class="center">
    <div class="card mb-4">
        <div class="card-header">
            <!-- Used interpolation -->
            <h4>{{tableTitle}}</h4>
        </div>
        <div class="card-header">
            <!-- Added route to CompanyAdd page using routing -->
            <a [routerLink]="['/company-add']" class="btn btn-primary float-right mb-3">Add Company</a>
        </div>
        <!-- table start -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Company Name</th>
                            <th>TotalEmployee</th>
                            <th>Address</th>
                            <!-- <th>Active</th> -->
                            <!-- <th>TotalBranch</th> -->
                            <!-- <th>companyBranch</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor='let company of companies'>
                            <td>{{company.id}}</td>
                            <td>{{company.emailID}}</td>
                            <td>{{company.name | titlecase}}</td>
                            <td>{{company.totalEmployee}}</td>
                            <td>{{company.address}}</td>
                            <td>
                                <a [routerLink]="['/companies',company.id]" class="btn btn-primary float-right mb-3">View</a>
                                 <button (click)="deleteCompany(company)" class="btn btn-danger">Delete</button>
                                <button (click)="editCompany(company)" style="margin-left: 20px;"
                                    class="btn btn-info">Edit</button>
                              
                            </td>
                            <!-- <td>{{company.isCompanyActive}}</td> -->
                            <!-- <td>{{company.totalBranch}}</td> -->

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- table End -->
    </div>
</section>